.hive-nest-wrapper {
  display: grid;
  justify-content: center;
  --s: 180px; 
  --mv: 4px; 
  --r: 1.15; 
  --h: 0.5;
  --v: 0.25;
  --hc: calc(clamp(0, var(--h), 0.5) * var(--s));
  --vc: calc(clamp(0, var(--v), 0.5) * var(--s) * var(--r));
  --mh: calc(var(--mv) + (var(--s) - 2 * var(--hc)) / 2); /* horizontal */
  --f: calc(2 * var(--s) * var(--r) + 4 * var(--mv) - 2 * var(--vc) - 2px);
  
  grid-template-columns: repeat(auto-fit, calc(var(--s) + 2 * var(--mh)));
  @media only screen and (max-width: 1000px) {
    --s: 120px; /* size */
    --mv: 4px; /* vertical */
  }
  @media only screen and (max-width: 720px) {
    --s: 100px; /* size */
    --mv: 4px; /* vertical */
  }
  @media only screen and (max-width: 600px) {
    --s: 90px; /* size */
    --mv: 2px; /* vertical */
  }
  @media only screen and (max-width: 415px) {
    --s: 80px; /* size */
    --mv: 2px; /* vertical */
  }
  margin-bottom: var(--s);
  @media only screen and (max-width: 600px) {
    margin-bottom: calc(2 * var(--s));
  }
}

.hive-items-container {
  grid-column: 2/-1;
  margin: 0 auto;
  max-width: 1200px;
  font-size: 0; 
  position: relative;
  padding-bottom: 50px;

  &::before {
    content: "";
    width: calc(var(--s) / 2 + var(--mh));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(
      transparent 0 calc(var(--f) - 2px),
      #fff 0 var(--f)
    );
  }
}

.hive-item-wrapper {
  width: var(--s);
  margin: var(--mv) var(--mh);
  height: calc(var(--s) * var(--r));
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: initial;
  clip-path: polygon(
    var(--hc) 0,
    calc(100% - var(--hc)) 0,
    100% var(--vc),
    100% calc(100% - var(--vc)),
    calc(100% - var(--hc)) 100%,
    var(--hc) 100%,
    0 calc(100% - var(--vc)),
    0 var(--vc)
  );
  margin-bottom: calc(var(--mv) - var(--vc));
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1) translateY(-8px);
    background: rgb(238, 174, 202);
    background: radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%
    );
  }
  svg {
    width: 30px;
    height: 30px;
    @media only screen and (max-width: 1000px) {
      width: 24px;
      height: 24px;
    }
    @media only screen and (max-width: 720px) {
      width: 18px;
      height: 18px;
    }
  }
}

.hive-item-name {
  margin-top: 10px;
  font-size: 16px;
  color: black;
  text-align: center;
}

.hive-item-logo-wrapper {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
